hs.grid.setGrid('12x12') -- allows us to place on quarters, thirds and halves
hs.window.animationDuration = 0 -- disable animations

function toggleService(serviceName)
   return function(exitCode, stdOut, stdErr)
      serviceCommand = "start"
      serviceMsgSuffix = "ed"
      local task = hs.task.new(
	 "/opt/homebrew/bin/brew",
	 function(exitCode, stdOut, stdErr)
	    local info = hs.json.decode(stdOut)[1]
	    if info["running"] then
	       serviceCommand = "stop"
	       serviceMsgSuffix = "ped"
	    end
	    hs.task.new(
	       "/opt/homebrew/bin/brew",
	       function(exitCode, stdOut, stdErr)
		  msg = "Service '" .. serviceName .. "' " .. serviceCommand .. serviceMsgSuffix
		  hs.notify.new({title="Hammerspoon", informativeText=msg}):send()
	       end,
	       {"services", serviceCommand, serviceName}
	    ):start()
	 end,
	 {"services", "info", "--json", serviceName}
      )
      task:start()
      task:waitUntilExit()
   end
end

function launchOrFocus(app)
  return function()
    hs.application.launchOrFocus(app)
  end
end

--
-- Key bindings.
--

local bindings = {
   [{ "alt", "cmd" }] = {
      ["v"] = toggleService("openfortivpn")
   },

   [{ "alt", "cmd", "ctrl" }] = {
      ["b"] = launchOrFocus("Arc"),
      ["w"] = launchOrFocus("WhatsApp"),
      ["t"] = launchOrFocus("WezTerm"),
      ["e"] = launchOrFocus("Microsoft Teams"),
      ["s"] = launchOrFocus("Slack"),
      ["m"] = launchOrFocus("Deezer"),
   },
}

for modifier, keyActions in pairs(bindings) do
  for key, action in pairs(keyActions) do
    hs.hotkey.bind(modifier, tostring(key), action)
  end
end

--
-- Auto-reload config on change.
--

function reloadConfig(files)
  for _, file in pairs(files) do
    if file:sub(-4) == '.lua' then
      hs.reload()
    end
  end
end

hs.pathwatcher.new(os.getenv('HOME') .. '/.hammerspoon/', reloadConfig):start()
