alias ls="ls --color"
alias ll="ls -l"
alias la="ls -la"
alias lt="ls -ltr"

bindkey -e

autoload -U up-line-or-beginning-search
autoload -U down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey "^[[A" up-line-or-beginning-search # Up
bindkey "^[[B" down-line-or-beginning-search # Down

export EDITOR=vi
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

export OCI_CLI_PROFILE=epalumbo
export OCI_CLI_AUTH=api_key

export DOCKER_DEFAULT_PLATFORM=linux/amd64

{{ $brewPythonPath := "/opt/homebrew/opt/python/libexec/bin" }}
{{- if stat $brewPythonPath -}}
export PATH={{ $brewPythonPath }}:$PATH
{{- end }}

{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".cargo/bin" ".pixi/bin" ".local/bin" }}
{{-   $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

{{- if lookPath "direnv" }}
eval "$(direnv hook zsh)"
{{- end }}

{{- if lookPath "starship" }}
eval "$(starship init zsh)"
{{- end }}
