[user]
    name = Emilio Palumbo
    email = emiliopalumbo@gmail.com
    signingkey = A25415A0482F99EA8598D49E844AEA8FEBA95EDC
{{- $messageTemplate := (joinPath .chezmoi.homeDir ".gitmessage") }}
{{- if stat $messageTemplate }}
[commit]
    template = ~/.gitmessage
{{- end }}
[push]
    default = upstream
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    ls = ls-files
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[filter "lfs"]
    clean = git lfs clean -- %f
    smudge = git lfs smudge --skip %f
    process = git lfs filter-process --skip
    required = true
[branch]
    autosetuprebase = always
[core]
    askpass = 
    quotePath = false
    commitGraph = true
[receive]
    advertisePushOptions = true
    procReceiveRefs = refs/for
[gc]
    writeCommitGraph = true
[includeIf "hasconfig:remote.*.url:git@gitlab.linux.crg.es:*/**"]
    path = ~/.gitconfig-crg
[includeIf "hasconfig:remote.*.url:https://gitlab.linux.crg.es/**"]
    path = ~/.gitconfig-crg
