" Install vim-plug if not found
if empty(glob('~/.vim/autoload/plug.vim'))
  silent !curl -fLo ~/.vim/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
endif

" Run PlugInstall if there are missing plugins
autocmd VimEnter * if len(filter(values(g:plugs), '!isdirectory(v:val.dir)'))
  \| PlugInstall --sync | source $MYVIMRC
\| endif

call plug#begin()
  Plug 'editorconfig/editorconfig-vim'
  Plug 'jamessan/vim-gnupg'
  Plug 'tpope/vim-commentary'
  Plug 'sainnhe/gruvbox-material'
  Plug 'squarefrog/tomorrow-night.vim'
  Plug 'kaicataldo/material.vim', { 'branch': 'main' }
  Plug 'tpope/vim-sensible'
call plug#end()

