#!/bin/bash
if [ $XDG_SESSION_DESKTOP == "awesome" ]; then
 # keyboard
 setxkbmap -layout us
 setxkbmap -option eurosign:5
 setxkbmap -option compose:ralt

 xrdb -merge ~/.Xresources
 compton &
 # Natural Scrolling Enabled (old 306)
 xinput set-prop 12 314 1
 # Click Method Enabled
 xinput set-prop 12 341 0 1
 xsettingsd &
 xss-lock -l -- ~/bin/lock.sh &
 redshift &
fi
